<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="js/vue.js"></script>
</head>

<body>
    <div id="app">
        年龄<input type="text" v-model="age">经判定，为
        <span v-if="age <= 35">年轻人（35岁以下）</span>
        <span v-else-if="age > 35 && age < 60">中轻人（35岁~60岁）</span>
        <span v-else>老轻人（70岁以上）</span>
    </div>
</body>
<script>
    new Vue({
        el: "#app",
        data: {
            age: 20
        },
        methods: {

        },
    })
</script>

</html>